<!DOCTYPE html>
<html lang="vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cập nhật sản phẩm</title>
    <th:block th:replace="admin/admin-fragments::stylesheet"></th:block>
    <link rel="stylesheet" href="/modules/jquery-selectric/selectric.css">
    <link rel="stylesheet" href="/modules/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="/modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
</head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <th:block th:replace="admin/admin-fragments::header-side-bar"></th:block>

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <div class="section-header-back">
                        <a href="/admin/san-pham" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <h1>Thông tin của sản phẩm</h1>

                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a href="#">Admin</a></div>
                        <div class="breadcrumb-item"><a href="/admin/san-pham">Sản phẩm</a></div>
                        <div class="breadcrumb-item">Thêm doanh mục mới</div>
                    </div>
                </div>
                <div class="section-body">
                    <h2 class="section-title">Tạo mới/Cập nhật sản phẩm</h2>
                    <p class="section-lead">
                        Thêm các thông tin sản phẩm
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Thông tin sản phẩm</h4>
                                    <div class="section-header-button">
                                        <button id="remove-product" class="btn btn-danger">Xóa sản phẩm</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form id="data-form" th:object="${dto}" method="post"
                                          action="/admin/san-pham/cap-nhat">
                                        <div class="form-group row mb-4" th:if="*{productId != 0}">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">ID</label>
                                            <div class="col-sm-3 col-md-3">
                                                <input th:field="*{productId}" type="number" class="form-control"
                                                       readonly>
                                            </div>

                                            <label class="col-form-label col-1 col-md-1 col-lg-1">Mã sản phẩm</label>
                                            <div class="col-sm-3 col-md-3 justify-content-start">
                                                <input id="productCode" th:field="*{productCode}" type="text"
                                                       class="form-control"
                                                       readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Tên sản
                                                phẩm(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <input id="name" th:field="*{productName}" type="text"
                                                       class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Doanh
                                                mục(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <select id="category" th:field="*{category}"
                                                        class="form-control selectric">
                                                    <th:block th:each="c: ${categories}">
                                                        <option th:value="${c.categoryId}" th:text="${c.name}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Thông
                                                tin sản
                                                phẩm(*)</label>
                                            <div class="col-sm-12 col-md-7">
                                                <textarea th:field="*{description}" class="summernote"
                                                          required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">Giá mặc
                                                định(*)</label>
                                            <div class="col-sm-3 col-md-3">
                                                <input id="default-price" th:field="*{price}"
                                                       type="text" class="form-control" required>
                                            </div>

                                            <label class="col-form-label col-1 col-md-1 col-lg-1">Khuyến mãi</label>
                                            <div class="col-sm-3 col-md-3 justify-content-start">
                                                <input id="promotion-price" th:field="*{promotionPrice}"
                                                       type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">VND</label>
                                            <div class="col-sm-3 col-md-3">
                                                <input th:value="${#numbers.formatDecimal(dto.price, 0, 'POINT', 0, 'COMMA')}"
                                                       id="preview-1" type="text" class="form-control" readonly>
                                            </div>

                                            <label class="col-form-label col-1 col-md-1 col-lg-1">VND</label>
                                            <div class="col-sm-3 col-md-3 justify-content-start">
                                                <input th:value="${#numbers.formatDecimal(dto.promotionPrice, 0, 'POINT', 0, 'COMMA')}"
                                                       id="preview-2" type="text" class="form-control" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-3 col-md-3 col-lg-3">Trạng
                                                thái(*)</label>
                                            <div class="col-sm-3 col-md-3">
                                                <select id="status-select" class="form-control selectric"
                                                        th:field="*{status}">
                                                    <option value="1">Còn hàng</option>
                                                    <option value="2">Hết hàng</option>
                                                    <option value="3">Dừng kinh doanh</option>
                                                </select>
                                            </div>

                                            <label class="col-form-label col-1 col-md-1 col-lg-1">Số lượng</label>
                                            <div class="col-sm-3 col-md-3 justify-content-start">
                                                <input id="quantity" th:field="*{quantity}" type="number"
                                                       class="form-control"
                                                       required>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row mb-4">
                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                            <div class="col-sm-12 justify-content-center">
                                                <button id="submit" class="btn btn-primary" type="submit">Lưu thông tin
                                                    sản phẩm
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Thông tin các option</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-md">
                                            <tr>
                                                <th>#</th>
                                                <th>Loại</th>
                                                <th>Màu/Cấu hình</th>
                                                <th>Giá</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            <th:block th:each="option: ${options}">
                                                <tr>
                                                    <td class="noType" th:text="${option.noType}"></td>
                                                    <td th:if="${option.type == 1}">Màu</td>
                                                    <td th:if="${option.type == 2}">Cấu hình</td>
                                                    <td th:text="${option.description}"></td>
                                                    <td th:text="${#numbers.formatDecimal(option.specialPrice, 0, 'POINT', 0, 'COMMA')+'₫'}"></td>
                                                    <td>
                                                        <div th:if="${option.deleted == false}"
                                                             class="badge badge-success">
                                                            Hoạt động
                                                        </div>
                                                        <div th:if="${option.deleted == true}"
                                                             class="badge badge-warning">
                                                            Dừng
                                                        </div>
                                                    </td>
                                                    <td><a href="#" class="btn btn-danger action-type">Xóa Option</a>
                                                    </td>
                                                </tr>
                                            </th:block>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<th:block th:replace="admin/admin-fragments::script-link"></th:block>

<!-- Page Specific JS File -->
<script src="/modules/izitoast/js/iziToast.min.js"></script>
<script src="/modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="/modules/sweetalert/sweetalert.min.js"></script>

<script src="/js/page/features-post-create.js"></script>

<script>
    const formatter = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
    });
    $('#default-price').on('input', function (e) {
        var price = $(this).val();
        $('#preview-1').val(formatter.format(price))
    })
    $('#promotion-price').on('input', function (e) {
        var price = $(this).val();
        $('#preview-2').val(formatter.format(price))
    })
    $('#price-type').on('input', function (e) {
        var price = $(this).val();
        $('#price-format').text(formatter.format(price))
    })

    $(".colorpickerinput").colorpicker({
        format: 'hex',
        component: '.input-group-append',
    });

</script>
</body>

</html>