<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Không tìm thấy nội dung </title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components.css">
    <!-- Start GA -->

</head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-brand">
                        <img src="/img/TDA-logo.png" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Lỗi 404</h4></div>
                        <div class="card-body">
                            <div class="col-12 mb-4">
                                <div class="hero align-items-center bg-danger text-white">
                                    <div class="hero-inner text-center">
                                        <h2>Xảy ra lỗi</h2>
                                        <p class="lead">Tài nguyên yêu cầu không tồn tại ...</p>
                                        <div class="mt-4">
                                            <a href="/trang-chu"
                                               class="btn btn-outline-white btn-lg btn-icon icon-left"><i
                                                    class="fas fa-sign-in-alt"></i>Trang chủ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simple-footer">
                        TDA-STORE
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- General JS Scripts -->
<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/moment.min.js"></script>
<script src="/js/stisla.js"></script>

<!-- JS Libraies -->

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>